<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="mecanum_wheel_mesh" value="package://caramelo_description/meshes/robot_3d/roda_escala_final.stl"/>
    <xacro:property name="mecanum_wheel_mesh_scale" value="0.001 0.001 0.001"/>

    <!-- ROS2_CONTROL: os nomes das juntas sao contrato com caramelo_controllers.yaml e mobile_base_hw_interface.cpp. -->
    <xacro:macro name="mecanum_wheel" params="
        prefix
        side
        x_reflect
        y_reflect
        wheel_mesh:='${mecanum_wheel_mesh}'
        wheel_mesh_scale:='${mecanum_wheel_mesh_scale}'">
        <link name="${prefix}${side}_wheel_link">
            <visual>
                <origin xyz="0 0 0" rpy="${M_PI/2 if x_reflect == y_reflect else -M_PI/2} 0 0"/>
                <geometry>
                    <mesh filename="${wheel_mesh}" scale="${wheel_mesh_scale}"/>
                </geometry>
                <material name="orange"/>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="${M_PI/2 if x_reflect == y_reflect else -M_PI/2} 0 0"/>
                <geometry>
                    <mesh filename="${wheel_mesh}" scale="${wheel_mesh_scale}"/> 
                </geometry>
            </collision>

            <xacro:cylinder_inertia m="${wheel_mass}" r="${wheel_radius}" l="${wheel_width}" o_xyz="0 0 0" o_rpy="${M_PI/2} 0 0"/>

        </link>

        <!-- FRAME_CRITICO: rotacao continua da roda no eixo Y. -->
        <joint name="${prefix}${side}_wheel_joint" type="continuous">
            <axis xyz="0 1 0"/>
            <parent link="${prefix}base_link"/>
            <child link="${prefix}${side}_wheel_link"/>
            <origin xyz="${wheel_center_x + x_reflect*(wheel_base/2)} ${y_reflect*(wheel_separation/2)} ${wheel_z}" rpy="0 0 0"/>
        </joint>
        
    </xacro:macro>
</robot>
