<?xml version="1.0"?>
<robot name="caramelo" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Argumentos -->
  <xacro:arg name="robot_name" default="caramelo"/>
  <xacro:arg name="prefix" default=""/>

  <!-- Includes -->
  <xacro:include filename="common_properties.xacro"/>
  <xacro:include filename="lidar_sensor.xacro"/>
  <xacro:include filename="mobile_base.xacro"/>
  <xacro:include filename="mobile_base.ros2_control.xacro"/>

  <!-- Base movel completa (base_link + footprint + 4 rodas) -->
  <xacro:mobile_base prefix="$(arg prefix)"/>

  

</robot>
